button {
  font-size: 14px;
  font-family: Tourney;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--forth);
  padding: 10px 14px;
  border: 3px solid var(--forth);
  text-align: center;
  border-bottom-width: 6px;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
}
button:hover {
  border-bottom-width: 3px;
  transition-duration: 350ms;
  margin-top: 4px;
}

$colors: 'red', 'yellow', 'blue', 'lightgray', 'black', 'white';

@each $color in $colors {
  .btn-#{$color} {
    border-color: var(--#{$color});
    color: var(--#{$color});
  }
}
