.ev-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .inside {
    display: inline-flex;
    width: 100%;
    transition-duration: 350ms;
    background-position: center;
    background-size: cover;
    img {
      object-fit: contain;
    }
  }
  @media (max-width: 800px) {
    h1 {
      font-size: 32px !important;
    }
  }
  .text {
    position: absolute;
    text-align: center;
    h3,
    h5 {
      margin: 4px 0;
    }
    h5:last-of-type {
      margin-bottom: 14px;
    }
    button {
      margin-top: 16px;
      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}

.carousel-event {
  min-width: 320px;
  max-width: 400px;
  height: 280px;
  margin: 24px;
  .text {
    width: 300px;
    padding: 0 40px;
  }
}

.event-event {
  width: 360px;
  height: 360px;
  margin-bottom: -160px;
  margin-top: -24px;
  margin-left: -32px;
}
