footer {
  .fa {
    height: 30px;
    margin-right: 12px;
    font-size: 24px !important;
  }
  p {
    font-size: 16px;
  }
  h4 {
    color: var(--blue);
  }
  .imagelink {
    width: calc(32% - 24px);
    padding: 12px;
    &.medium {
      width: calc(36% - 24px);
    }
    &.large {
      width: calc(40% - 24px);
    }
  }
  img {
    object-fit: contain;
  }
}

a i:hover {
  color: var(--yellow);
  transition-duration: 350ms;
}
