footer {
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  h4 {
    color: var(--blue);
  }
  .imagelink {
    width: calc(32% - 24px);
    padding: 12px;
    max-width: 80px;
    &.medium {
      width: calc(36% - 24px);
    }
    &.large {
      width: calc(40% - 24px);
    }
  }
  img {
    object-fit: contain;
  }
  .container.flex {
    @media (max-width: 860px) {
      flex-direction: column;
      max-width: 400px;
      margin-left: 0;
    }
  }
  a {
    text-decoration: underline;
  }
}

a i:hover {
  color: var(--yellow);
  transition-duration: 350ms;
}
