.background {
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow {
  width: 60px;
  height: 60px;
  object-fit: contain;
  cursor: pointer;
  &:hover {
    @extend .filter-red;
  }
}

.small {
  width: 50px;
  object-fit: contain;
  padding: 12px;
  cursor: pointer;
}

img {
  width: 100%;
  transition-duration: 350ms;
}
