.intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/scbg.png);
  .container {
    z-index: 0;
    width: 360px;
    position: relative;
  }
  p {
    font-size: 13px;
    padding-bottom: 16px;
    max-width: 200px;
    margin-left: 0;
  }
  .logo {
    max-width: 160px;
  }
  @media (max-width: 600px) {
    .container {
      padding: 24px;
    }
    h1 {
      font-size: 74px;
    }
    .date {
      left: -20px;
      top: 32px;
      font-size: 40px;
      text-shadow: none;
    }
    .boom {
      top: 130px;
      left: 200px;
    }
  }
  @media (max-width: 400px) {
    h1 {
      font-size: 60px;
    }
    .date {
      font-size: 32px;
    }
    .boom {
      top: 96px;
      left: 180px;
      width: 120px;
    }
  }
}

.intro-bg {
  background-image: radial-gradient(black, transparent);
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
}

.vertical {
  -webkit-writing-mode: vertical-rl;
  position: absolute;
}

.time,
.place {
  position: fixed;
  top: 0;
  margin: 0;
  height: 100vh;
  text-align: center;
  z-index: 3;
  @media (max-width: 920px) {
    display: none;
  }
}
.time {
  left: 19px;
}
.place {
  right: 19px;
}
.date {
  left: -80px;
  top: 16px;
  text-shadow: none;
}
.boom {
  left: 220px;
  max-width: 200px;
  position: absolute;
  top: 180px;
  width: 160px;
  height: 160px;
  align-items: center;
  display: flex;
}

.boom img {
  position: absolute;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  z-index: -1;
}
.boom h3 {
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  max-width: 140px;
  font-size: 24px;
}
/*
.intro-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: content-box;
  position: absolute;
  z-index: 0;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  min-width: 100vw;
  min-height: 100vh;
}
*/
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
