.megamenu {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  padding: 12px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  transition-duration: 350ms;
  z-index: 2;
  background-color: black;
  //background-image: url(../images/bg.png);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  overflow: hidden;
  justify-content: space-between;
  // align-items: center;
}
.megamenu.gone {
  top: -100vh;
  transition-duration: 350ms;
}
.megamenu .close {
  position: absolute;
  top: 24px;
  right: 0;
  width: 40px;
  height: 40px;
  right: 24px;
  cursor: pointer;
}

.megamenu a {
  display: block;
  // width: calc(50% - 24px);
  box-sizing: border-box;
  border-radius: 16px;
  //  padding: 40px;
  margin: 12px;
  margin-top: -8px;
  // background-color: white;
  color: black;
  color: var(--red);
  // text-align: center;
  // max-width: 50%;
  min-width: 140px;
  max-width: 320px;
  text-decoration: none;
}

.megamenu a p {
  font-size: 14px;
  @media (max-width: 800px) {
    display: none;
  }
}
.megamenu a:hover {
  background-color: black;
  color: white;
  transition-duration: 350ms;
}
@media (max-width: 1000px) {
  .megamenu a {
    padding: 24px;
  }
}
@media (max-width: 600px) {
  .megamenu a {
    padding: 12px;
    max-width: 120px;
    min-width: 160px;
    margin: 6px;
  }
}

.megamenu img {
  max-height: 160px;
  object-fit: contain;
  margin: 8px;
}
@media (max-width: 1000px) {
  .megamenu img {
    max-height: 140px;
  }
}
@media (max-width: 600px) {
  .megamenu img {
    max-height: 100px;
  }
}

.megamenu .item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

@media (max-width: 1000px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 1000px) {
  .mobile {
    display: none;
  }
}

.megamenu a:nth-of-type(2),
.megamenu a:nth-of-type(4) {
  align-self: flex-end;
}

/* classes for the menu animation */
.hamburger {
  @media (min-width: 1000px) {
    display: none;
  }
}
.hamburger-menu {
  padding-top: 6px;
  cursor: pointer;
  margin-left: auto;
  width: 36px;
  position: relative;
  z-index: 5;
  .icon-bar {
    width: 40px;
    height: 7px;
    margin-bottom: 4px;
    position: relative;
    transition: 350ms ease;
    background-image: url(../images/line.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.bar-01 {
  @extend .filter-blue;
  &.opened {
    transform: rotate(45deg);
    top: 10px;
  }
}
.bar-02 {
  @extend .filter-red;
  &.opened {
    display: none;
  }
}
.bar-03 {
  @extend .filter-yellow;
  &.opened {
    transform: rotate(-45deg);
    @extend .filter-blue;
  }
}
