.megamenu {
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;

  box-sizing: border-box;

  transition-duration: 350ms;

  //background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.megamenu.gone {
  top: -100vh;
  transition-duration: 350ms;
}
.megamenu .close {
  position: absolute;

  width: 40px;
  height: 40px;

  top: 24px;
  right: 24px;
  cursor: pointer;
}

.megamenu a {
  display: block;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 12px;
  margin-top: -8px;
  color: var(--red);
  min-width: 140px;
  max-width: 360px;
  padding: 0px 40px;
  @media (max-width: 900px) {
    padding: 8px;
  }
}

.megamenu a p {
  font-size: 14px;
  @media (max-width: 800px) {
    display: none;
  }
}
.megamenu a:hover {
  background-color: black;
  color: white;
  transition-duration: 350ms;
}

@media (max-width: 600px) {
  .megamenu a {
    padding: 12px;
    max-width: 120px;
    min-width: 160px;
    margin: 6px;
  }
}

.megamenu img {
  max-height: 160px;
  object-fit: contain;
  margin: 8px;
}
@media (max-width: 1000px) {
  .megamenu img {
    max-height: 140px;
  }
}
@media (max-width: 600px) {
  .megamenu img {
    max-height: 100px;
  }
}

.megamenu .item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

@media (max-width: 1000px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 1000px) {
  .mobile {
    display: none;
  }
}

.megamenu a:nth-of-type(1),
.megamenu a:nth-of-type(3) {
  h2 {
    margin-left: 0;
  }
}

.megamenu a:nth-of-type(2),
.megamenu a:nth-of-type(4) {
  align-self: flex-end;
  text-align: right;
  h2 {
    margin-right: 0;
  }
}

/* big letters*/

.megamenu h2 span {
  width: 44px;
  display: inline-block;
  text-align: center;
}
