@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  /*background-color: #f3f3f3;*/
  font-family: 'Raleway', sans-serif;
  font-family: 'Tourney', sans-serif;
  letter-spacing: 0.4px;
  /*background: repeating-linear-gradient(0deg, #f3f3f3, white 4px);*/
}

p,
li {
  /*background-color: #f3f3f3;*/
  font-family: 'Special Elite', sans-serif;
  letter-spacing: 0.4px;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 400;
  /*background: repeating-linear-gradient(0deg, #f3f3f3, white 4px);*/
}

em {
  color: var(--blue);
}

p,
blockquote,
h1,
h2,
h3,
h4,
h5,
li,
pre,
table {
  margin: 20px 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}

i {
  color: var(--blue);
}

a {
  color: var(--red);
  text-decoration: none;
}
a:hover {
  color: var(--red);
  transition-duration: 350ms;
}

b {
  font-weight: 800;
  letter-spacing: 0.8px;
}

h1 {
  font-weight: 900;
  font-size: 90px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 6px 6px var(--blue);
}

h2 {
  font-weight: 900;
  font-size: 56px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  /*text-shadow: 4px 4px var(--blue);*/
}

h3 {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 800;
}

h4 {
  font-size: 14px;
  letter-spacing: 2.4px;
  font-weight: 900;
  line-height: 1.6;
  text-transform: uppercase;
}

h5 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 900;
  border-radius: 8px;
  line-height: 1;
}

h6 {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 10px;
}

p {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 400;
}
footer p {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: 400;
}

.stroked {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 4px 4px 4px 4px #000;
}
